xml_training/training1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="report">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metric_data" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="metric_name"/>
              <xs:element type="xs:nonNegativeInteger" name="timestamp"/>
              <xs:element type="xs:float" name="value"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="units"/>
              <xs:element type="xs:string" name="spoof"/>
              <xs:element name="direction">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="dgsg|boinc"/>
                    <xs:enumeration value="dgsg|xtremweb"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:nonNegativeInteger" name="timestamp"/>
      <xs:attribute type="xs:string" name="timezone"/>
      <xs:attribute type="xs:float" name="version"/><!-- talvez string? -->
    </xs:complexType>
  </xs:element>
</xs:schema>
