Common/src/is/project1/xml/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <!-- WebCrawler Report: -->
    <xs:element name="report">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="smartphone" type="Smartphone" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="timestamp" type="xs:nonNegativeInteger" use="required"/>
            <!-- @todo crawler id as attribute? -->
        </xs:complexType>
    </xs:element>
    
    <!-- Custom Types: -->
    <xs:complexType name="Smartphone">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="description" type="Description"/>
            <xs:element name="price" type="Money"/>
            <xs:element name="details" type="xs:anyURI"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Money">
        <xs:simpleContent>
            <xs:extension base="xs:decimal">
                <xs:attribute name="currency" default="EUR">
                    <!-- @todo change to an enumeration of ISO 4217 country codes? -->
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="3"/>
                            <xs:maxLength value="3"/>
                            <xs:pattern value="[A-Z]{3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="Description">
        <xs:list itemType="xs:string"/>
    </xs:simpleType>
</xs:schema>
